header{
    background-color: rgb(235, 203, 145);
}

.contenido{
    background-color: rgb(253, 239, 219);

}

.aside{
    background-color: rgb(235, 203, 145);

}

img{
    border-radius: 10px;
    }

footer{
    display: flex;
    border-style: solid none;
    border-color:  rgb(235, 203, 145);
    align-items: center;
    padding-left: 20px;
    font-size: 15px;
}
